@media screen and (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        width: 100%;
        padding-top: 10px;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }

    .navbar_language {
        display: none;
        justify-content: center;
        width: 100%;
        padding:0;
        margin: 0;
    }

    .navbar_toogleBtn{
        display: block;
    }

    .navbar_menu.active,
    .navbar_language.active{
        display: flex;
    }

    .main{
        font-size: 40px;
    }
}